.header-footer {
  text-align: center;
}

.profile-pic {
  width: 140px;
  border-radius: 50%
}

.profile-circ {
    position: absolute;
    top: -48px;
    margin: auto;
    left: -10px;
}

.profile-pic-container {
  position: relative;
}


